<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/digit.png') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat" rel="stylesheet">
    <title>Digit Recognizer</title>
  </head>
  <body>
    <h1>Draw a Digit (0-9)</h1>
    <canvas id="canvas" width="450" height="450"></canvas>
    <button onclick="predict()">Classify Digit</button>
    <button onclick="clearCanvas()">Clear</button>
    <div id="prediction">Prediction: ?</div>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
  </body>
</html>